@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.rtl {
    text-right: 0;
    direction: rtl;
}
.ltr {
    text-left: 0;
    direction: ltr;
}
.spinner {
    width: 2rem;
    height: 2rem;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: whitesmoke;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1.0s;
}

@keyframes sk-bounce {
    0%, 15% { transform: scale(0.0) }
    50% { transform: scale(1.0) }
}

.navbar-item {
    transition: all 0.3s ease-in-out;
}

.navbar-item-active {
    color: #ffffff;
}
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.navbar-shown {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
