.textEnter {
  /* Animation definition */
  animation: textEnter 0.5s forwards;

  /* Gradient from white (top) to purple (bottom) */
  background: linear-gradient(to bottom, white, purple);

  /* Additional styles to ensure the gradient covers the text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.textExit {
  animation: textExit 0.5s forwards;
}

@keyframes textEnter {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes textExit {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
